.photo {
  height: 45px;
  width: 100px;
  padding-bottom: 15px;
  margin-left: 30px;
}
.menuBTN {
  overflow: auto;
  color: #ffffff;
  background-color: white;
  text-align: center;
  width:60px;
  height: auto;
  margin-top: 25px;
  margin-right: 35px;
  padding-left: 0px !important;
  padding-right: 0px !important;
  min-width: 50px;
  font-size: 15px;
  color: #0071bc;
  border-radius: 5px;
}
