.column {
  float: left;
  min-width: 150px;
  position: relative;
  min-height: 100vh;

  height: auto;
}
.column2 {
  padding-left: 50px;
  padding-top: 10px;

  height: auto;
  min-height: 100vh;
  min-width: 1000px;
  width: 80%;
  max-width: 2000px;
  margin-right: 0;
}
.row {
  overflow: auto;
  min-width: 1700px;
  max-width: 2000px;
}
